@{
    Layout = "_Layout";
    ViewBag.Title = "Suggestions";

}

<h2>@ViewBag.Title</h2>

<form asp-action=@ViewBag.ActionIndex method="get">
    <div class="form-horizontal">
        <p>
            Search for patient (ID Code): <input type="text" name="SearchString" />
            <br />
            <button type="button" onclick="location.href='@Url.Action("PatientInfo","Suggestions")'">Search</button>
        </p>
    </div>
</form>



