@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{        
    ViewData["Title"] = "Tere tulemast Medbase'i";
}
<style>
    body {
        background: url("./fade.jpg");
        background-size: cover;
    }
</style>
<div class="jumbotron" style="opacity: 0.8">
    <h1>@ViewData["Title"]</h1>
    <div class="row">
        <div class="col-md-4">
            <h2>Tere tulemast MedBase'i</h2>
            <p>          
                See on uus rakendus, mis on loodud parandamaks meditsiinitöötajate ja patsientide elusid!
            </p>
        </div>
        <div class="col-md-4">
            <h2>Partnerlus Ravimiregistriga</h2>
            <p>Kõik meie andmed pärinevad valideeritud riiklikust registrist Ravimiregister</p>       
            <p>
                <a class="btn btn-default"
                   href="http://ravimiregister.ravimiamet.ee/default.aspx?pv=HumRavimid.Otsing">Ravimiregister &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Lae alla!</h2>
            <p>Lae alla lõpetatud projekt GitHub'ist</p>
            <p>
                <a class="btn btn-default"
                   href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">
                    Vaata projekti lähtekoodi &raquo;
                </a>
            </p>
        </div>
    </div>
</div>


