@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var userName = "";
    var fullName = "";
    var userName_first = UserManager.GetUserName(User).ToString();
    var index = userName_first.IndexOf('9');
    userName = userName_first.Substring(0, index);
    fullName = userName_first.Replace('9', ' ');
    ViewData["Title"] = "Welcome back, " + userName;
}

<div class="jumbotron" style="opacity: 0.8">
    <h1>@ViewData["Title"]</h1>
</div>
<style>
    body {
        background: url("./fade.jpg");
        background-size: cover;
    }
</style>

<div class="row" style="background: whitesmoke">
    <div class="col-md-4">
        @{
            var header = "";
            var text = "";
            header = fullName;
            text = "Last login: 19:45 16.10.2018\n" +
                   "ID code: 39705150293\n " +
                   "Unread messages: 2";




        }
        <h2>@fullName</h2>
        <p>
            Last login: 19:45 16.10.2018<br>
            ID code: 39705150293<br>
            Unreade messages: 2
        </p>
    </div>
    <div class="col-md-6">
        <h2>Partnership with Ravimiregister</h2>
        <p>All our data comes from and is therefore validated by Estonian state run IT system Ravimiregister.</p>
        <p>
            <a class="btn btn-default"
               href="http://ravimiregister.ravimiamet.ee/default.aspx?pv=HumRavimid.Otsing">Check the link! &raquo;</a>
        </p>
    </div>
</div>


