@using Open.Facade.Product
@using Open.Sentry1.Extensions
@model Open.Facade.Product.EffectViewModel

@{
    ViewBag.Title = "Lisa uus";
    ViewBag.SubTitle = "Toimeaine";
    ViewBag.Button = "Lisa";
    Layout = "_EditPartial";
}

<body>
    @Html.EditingControlsFor(model => model.Name)
    @Html.EditingControlsFor(model => model.ValidFrom)
    @Html.EditingControlsFor(model => model.ValidTo)
</body>

@section Actions
    {@Html.ActionLink("Tagasi", "Index")}

