@using Open.Facade.Product
@using Open.Sentry1.Extensions
@model Open.Facade.Product.EffectViewModel
@{
    ViewBag.Title = "Eemalda";
    ViewBag.SubTitle = "Toimeaine";
    ViewBag.Button = "Eemalda";
    Layout = "_DeletePartial";
}

<body>
    @Html.ViewingControlsFor(model => model.Name)
    @Html.ViewingControlsFor(model => model.ValidFrom)
    @Html.ViewingControlsFor(model => model.ValidTo)
</body>

@section Actions
    {@Html.ActionLink("Muuda", "Edit", new { id = Model.ID })

    @Html.ActionLink("Tagasi", "Index")
}

