@{
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<div class="form-horizontal">
    <h4>@ViewBag.Subtitle</h4>
    <hr />

    @RenderBody()
    
   

</div>


<div>
    <hr/>
    @RenderSection("Actions")
</div>
